<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="../css/home.css">
    <title>sinanemia</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">
                <img class="responsive-img" src="https://user-images.githubusercontent.com/39417565/47267280-4857c880-d507-11e8-8434-b806abe14620.png">
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#">Empecemos</a>
                </li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li>
            <a href="#">Empecemos</a>
        </li>
    </ul>
    <div class="empecemos">
			<p>¿Cuáles son los 3 alimentos que possen más hierro?</p>
		</div>
		<div class="games row">
			<div class="col s6 m3">
                <img class="responsive-img custom-height" 
                src="../img/i-sangre.jpg">
				<h6>Sangre de pollo</h6>
            </div>
			<div class="col s6 m3">
                <img class="responsive-img custom-height" 
                src="../img/i-acelga.jpg">
				<h6>Acelga</h6>
            </div>
            <div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-naranja.jpg">
                    
                <h6>Naranja</h6>
			</div>
			<div class="col s6 m3">
                <img class="responsive-img custom-height" 
                src="../img/i-bazo.jpg">
                
				<h6>Bazo</h6>
			</div>
			<div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-espinaca.jpg">
                    
                <h6>Espinaca</h6>
            </div>
            <div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-papaya.jpg">
                    
                <h6>Papaya</h6>
			</div>
			<div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-higado pollo mejor.jpg">
                    
                <h6>Hígado de pollo</h6>
            </div>
            <div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-huevo.jpg">
                    
                <h6>Huevo</h6>
			</div>
			<div class="col s6  m3">
                    <img class="responsive-img custom-height" 
                    src="../img/i-mango.jpg">
                    
                <h6>Mango</h6>
			</div>
			
			
		</div>


    <!-- Compiled and minified CSS -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../js/home.js"></script>
</body>

</html>