<html lang="en">

<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link rel="stylesheet" href="../css/home.css">
	<title>sinanemia</title>
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo">
				<img class="responsive-img" src="https://user-images.githubusercontent.com/39417565/47267280-4857c880-d507-11e8-8434-b806abe14620.png">
			</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger">
				<i class="material-icons">menu</i>
			</a>
			<ul class="right hide-on-med-and-down">
				<li>
					<a href="#">Empecemos</a>
				</li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li>
			<a href="#">Empecemos</a>
		</li>
	</ul>
	<div>
			<div id="modal1" class="modal">
					<div class="modal-footer">
							<a href="#!" class="modal-close waves-effect waves-green btn-flat">
									<i class="fas fa-times"></i>
							</a>
						</div>
					<div class="modal-content ">
						<p class="left-align">
							Los alimentos en hierro
							 desarrollan la mente y 
							 el cuerpo de los wawas</p>
                        <img class="responsive-img" 
                        src="../img/wawa solicitada.png"
                        alt="">
					</div>
				</div>
		<div class="empecemos">
			<p>¿ Cuánto sabes de anemia ?</p>
		</div>
		<div class="games row">
			<div class="col s6">
                <img class="responsive-img" 
                src="../img/food.png">
				<h6>Descubre</h6>
			</div>
			<div class="col s6">
                <img class="responsive-img" 
                src="../img/puzzle.png">
                
				<h6>Nutricabezas</h6>
			</div>
			<div class="col s6">
                    <img class="responsive-img" 
                    src="../img/blocks.png">
                    
                <h6>Hierrograma</h6>
			</div>
			<div class="col s6">
                    <img class="responsive-img" 
                    src="../img/poker.png">
                    
                <h6>Verda o mentira</h6>
			</div>
		</div>
		<div class="gamesDisable" disabled="true">
			<div class="disabled">
			<div class="empecemos">
				<p>Conoce más <br>Prueba este nuevo nivel</p>
				
			</div>
			<div class=" row">
				<div class="col s6">
                        <img class="responsive-img" 
                        src="../img/fingerprint-scan.png">
                    <h6>Identidad</h6>
				</div>
				<div class="col s6">
                        <img class="responsive-img" 
                        src="../img/pill.png">
                    <h6>Médico ya</h6>
				</div>
				<div class="col s6">
                        <img class="responsive-img" 
                        src="../img/dices.png">
                    <h6>Azar</h6>
				</div>
				<div class="col s6">
                        <img class="responsive-img" 
                        src="../img/abc.png">
                    <h6>Diccionario</h6>
				</div>
			</div>
			</div>
		</div>

		<!-- Compiled and minified CSS -->

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="../js/home.js"></script>
</body>

</html>