<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/form.css" rel="stylesheet">
  <title>Hierro Wawa: Registro</title>
</head>
<body>
  <main class="section container valign-wrapper is-fullheight">
    <section class="row">
      <div class="col s12">
        <a href="../intro.html" class="medium waves-effect waves-light">
          <i class="material-icons small left black-text">keyboard_backspace</i>
        </a>
        <h3>Regístrate</h3>
      </div>
      <form id="signup-form" class="col s12">
        <div class="input-field">
          <input id="document" type="number">
          <label for="document">DNI</label>
        </div>
        <div class="input-field">
          <input id="phone" type="number">
          <label for="phone">Teléfono</label>
        </div>
        <div class="input-field">
          <input id="password" type="text" class="validate">
          <label for="password">Contraseña</label>
        </div>
        <div class="input-field">
          <input id="password-val" type="text" class="validate">
          <label for="password-val">Confirmar contraseña</label>
        </div>
        <div class="section valign-center">
          <button class="custom-red btn col s12">INICIAR</button>
        </div>
      </form>
      <div class="col s12 center-align">
        <span>¿Si ya tengo cuenta? <a class="black-text">Iniciar sesión</a></span>
      </div>
    </section>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../js/registro.js"></script>
</body>
</html>